.react-modal-overlay {
  z-index: 1040;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.react-modal {
  max-width: 500px;
  max-height: 500px;
  z-index: 1050;
  margin: 2rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
